<!-- Footer -->
<footer class="footer text-center text-lg-start text-muted border-top mt-5">
   
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start pt-2 mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-globe me-3"></i>Crypto~VRSE
            </h6>
            <p>
              Crypto~VRSE is a space where all things crypto come together for your convenience. You can create a wallet to keep track of all your different assets, view up-to-date listings, and chat with friends to stay connected!            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Programmed With
            </h6>
            <p>
              Python
            </p>
            <p>
              Flask
            </p>
            <p>
              CSS/Bootstrap
            </p>
            <p>
              HTML/Jinja
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/register" class="text-reset">Create Account</a>
            </p>
            <p>
              <a href="/login" class="text-reset">Sign In</a>
            </p>
            <p>
              <a href="/about" class="text-reset">About</a>
            </p>
            <p>
              <a href="/contact" class="text-reset">Contact</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fab fa-linkedin-in me-3"></i><a class="linkedin text-reset fw-bold" href="https://www.linkedin.com/in/george-garcia-081271223/" target="_blank">George Garcia</a></p>
            <p><i class="fas fa-envelope me-3"></i><a href="mailto:geogarcia852@gmail.com" class="text-reset">geogarcia852@gmail.com</a></p>
            <p><i class="fas fa-phone me-3"></i> +1 415-936-3268</p>
            <p><i class="fas fa-home me-3"></i> Denver, CO 80204, US</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/ggarcia852/cryptocurrency_app" target="_blank">Github Repository</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->